.about-cards-presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.about-card-presentation {
  text-align: center;
  background-color: white;
  padding: 5%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  h1 {
    text-align: center;
    font-size: 140%;
    color: black;
    margin: 0;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  p {
    color: black;
    text-align: left;
    font-size: 85%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .education-container {
    .education {
      display: grid;
      grid-template-columns: 1fr 1.8fr;
      align-items: center;
      width: 60%;
      margin: 0 auto;
      justify-items: start;
      img {
        width: 40%;
      }
    }
  }
}

.card-blue {
  background-color: #3333FF;
  h1, h2, p, a {
    text-align: center;
    color: white;
  }
}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  .btn-about-skills {
    background-color: #1C1E27;
    color: white;
    border-radius: 4px;
    padding: 1% 2%;
    margin-right: 2%;
    margin-top: 2%;
  }
  .btn-about-skills:hover {
    background-color: #3333FF;
  }
}

.about-places {
  background-color: #1C1E27;
  padding: 30px;
  box-shadow: 0px 10px 30px rgba(22, 0, 0, 0.5);
  border-radius: 4px;
  padding-bottom: 60px;
  margin-top: 7%;
  margin-bottom: 5%;
  h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
  }
  .polaroid {
  background: #fff;
  padding: 1rem;
  padding-bottom: 3rem;
  }
  .polaroid > img{
    max-width: 100%;
    height: auto;
  }
  .three-pictures {
    display: grid;
    flex-grow: 1;
  }
  @media (max-width: 699px) {
    .three-pictures {
      grid-template-columns: 1fr;
    }
  }
  @media (min-width: 700px) {
    .three-pictures {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .pictures {
    width: 90%;
    margin: 2%;
    filter: grayscale(100%);
    display: flex;
  }
  .pictures:hover {
    filter: none;
    transform: scale(1, 1) rotate(-3deg) !important;
    transition: all 0.35s;
    box-shadow: 2px 2px rgba(22, 0, 0, 0.5);
  }
}

.about-whatilove {
  text-align: center;
  background-color: white;
  padding: 5%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-top: 7%;
  padding-bottom: 7%;
  h4 {
    margin-bottom: 4%;
  }
  .cards-illu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6%;
    img {
      width: 60%;
    }
    .card-illu {
      margin-bottom: 8%;
    }
  }
}

.about-navigation {
  position: fixed;
  left: 20px;
  top: 150px;
  li {
    list-style-type: none;
  }
  i {
    color: rgb(206, 206, 206);
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;
  }
  i:hover {
    color: #1C1E27;
  }
}

// Small devices
@media (max-width: 355px) {
  .container-clock {
    display: none;
  }
  .about-navigation {
    display: none;
  }
  .about-cards-presentation {
    grid-template-columns: 1fr;
  }
  .cards-illu {
    grid-template-columns: 1fr 1fr!important;
  }
  .about-whatilove {
    height: 700px;
  }
}

// Medium devices
@media (min-width: 356px) and (max-width: 930px) {
  .container-clock {
    display: none;
  }
  .about-navigation {
    display: none;
  }
  .about-cards-presentation {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 931px) and (max-width: 1705px) {
  .container-clock {
    display: none;
  }
}
