// Specific CSS for home-page
.container {
  margin-bottom: 3%;
  margin-top: 3%;
}

.container-projects {
  margin-bottom: 12%;
}

.container-dark {
  background-color: #1C1E27;
  padding: 4%;
  margin-bottom: 3%;
  height: auto;
  h1, h2, h3, a, p {
    font-size: 140%;
    color: white;
    text-decoration: none;
    text-align: center;
    a {
      font-size: 100%;
    }
    a:hover {
      color: #3333FF;
    }
  }
  h4 {
    color: rgba(194, 194, 194, 0.596);
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    a {
      color: rgba(194, 194, 194, 0.596);
      font-size: 100%;
    }
    a:hover {
      color: #3333FF;
    }
  }
  i {
    color: white;
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-top: 2%;
    &:hover {
      color: #3333FF;
    }
  }
}

.home-cards-presentation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.home-card-presentation {
  background-color: white;
  padding: 5%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  .skills {
    .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
      img {
        width: 40%;
      }
      i {
        color: white;
        font-size: 40px;
        letter-spacing: 10px;
        text-align: center;
      }
    }
  }
  .social-links {
    text-align: center;
    .navigation {
      display: flex;
      justify-content: center;
      li {
        list-style-type: none;
      }
      i {
        color: white;
        font-size: 40px;
        letter-spacing: 10px;
        text-align: center;
      }
      i:hover {
        color: #1C1E27;
      }
    }
  }
  .languages {
    .navigation {
      display: flex;
      justify-content: center;
      .btn-languages {
        font-size: 70%;
        background-color: white;
        color: #3333FF;
        text-align: center;
        display: inline-block;
        margin: 1%;
        border-radius: 2px;
        padding: 5px 15px;
        margin-bottom: 2%;
        margin-top: 0;
      }

      .btn-languages:hover {
        background-color: white;
        transform: scale(1.2, 1.2) !important;
        transition: all 0.1s;
        box-shadow: 2px 2px rgb(22, 0, 0);
      }
    }
  }
  h1 {
    text-align: center;
    font-size: 140%;
    color: black;
    margin: 0;
    margin-left: 2%;
    margin-top: 2%;
  }
  p {
    color: black;
    text-align: center;
    font-size: 85%;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  a {
    text-decoration: none;
    color: #3333FF;
    &:hover {
      color: #1C1E27;
    }
  }
}

.card-blue {
  background-color: #3333FF;
  h2, a {
    text-align: center;
    font-size: 120%;
    color: white;
  }
}

.home-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  height: auto;
  margin-bottom: 9%;
  img {
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-size: cover;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    height: 300px;
  }
  img:hover {
    border: 5px solid #3333FF;
  }
  p {
    color: #1C1E27;
  }
}

.home-behance {
  margin-bottom: 10%;
  h4 {
    margin-bottom: 0%;
  }
  p {
    margin-bottom: 2%;
  }
  .home-cards-behance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
    flex-grow: 1;
    height: auto;
    .home-card-behance {
      img {
        width: 100%;
        height: 250px;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        background-size: cover;
        border-radius: 8px;
        object-fit: cover;
        object-position: center;
      }
      img:hover {
        opacity: 0.9;
      }
    }
  }
  a {
    color: #1C1E27;
    text-decoration: none;
    font-size: 150%;
  }
  a:hover {
    color: #3333FF;
  }
}

.contact-me {
  position: fixed;
  top: 140px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.548);
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
  display: block;
  justify-content: center;
  width: 10%;
  padding: 1%;
  img {
    width: 100%;
  }
  a, p {
    color: #1C1E27;
    text-decoration: none;
    font-size: 90%;
    margin-top: 2%;
    margin-bottom: 0;
  }
}

.technologies-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15%;
  width: 60%;
  margin: 0 auto;
  height: auto;
  flex-grow: 1;
  .technologies {
    background-color: #3333FF;
    color: #1C1E27!important;
    padding: 5%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
    &:hover {
      background-color: #1C1E27;
    }
    img {
      width: 30%;
      margin-bottom: 8%;
    }
    h3 {
      font-size: 80%;
      color: white!important;
    }
    p {
      font-size: 70%;
      color: white;
      margin-bottom: 0;
    }
  }
}

.footer {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 6%;
}

// Small devices
@media (max-width: 999px) {
  .container {
    margin-top: 15%;
  }
  .home-cards-presentation {
    grid-template-columns: 1fr;
    .skills .navigation {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      img {
        width: 80%;
      }
    }
  }
  .home-projects {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .home-cards-behance {
    grid-template-columns: 1fr!important;
    gap: 1%!important;
  }
  .contact-me {
    display: none;
  }
  .container-dark {
    margin-top: 25%;
  }
  .container-dark .technologies-cards {
    gap: 6%;
    width: 100%;
  }
}

// Medium devices
@media (min-width: 1000px) and (max-width: 1700px) {
  .home-projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
