<div class="container">
  <div class="container-project">
    <h5>Art Co is the world’s leading platform to create exhibitions and find the best artists.</h5>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://www.art-co.me/" target="_blank">Visit Website</a>
    </button>
    <br>
    <p>Art Co has been started during a coding bootcamp at Le Wagon, Melbourne (bath#680). <br>
    I was the Project Manager of this product working with a team of 4. <br>
    The project was presented during the demo day in September 2021.
    </p>
    <%= image_tag "portfolio/artco1.png", class:"img-fluid my-3" %>
    <br>
    <p>The landing page was designed to help the user understanding the concept really quickly. Our two main users as venue owners and artists.</p>
    <%= image_tag "portfolio/artco2.png", class:"img-fluid my-3" %>
    <p>The artists can upload thier collections and artworks really easily on the website.</p>
    <%= image_tag "portfolio/artco3.png", class:"img-fluid my-3" %>
    <p>The venue owners can add their venues and create exhibitions. By creating an expo, they sent an invitation to all the artists. If they are interested, they can send their collections to the venues owner who will chose the ones he prefers.</p>
    <%= image_tag "portfolio/artco4.png", class:"img-fluid my-3" %>
  </div>
</div>
