<div class="container">
  <div class="container-project">
    <h5>Simple example of a website to rent flats.</h5>
    <br>
    </p>
    <%= image_tag "mockup-airbnb-computer1.png", class:"img-fluid my-3" %>
    <%= image_tag "mockup-airbnb-computer2.png", class:"img-fluid my-3" %>
  </div>
</div>
