<div class="container">
  <div class="container-project">
    <h5>Simple example of food delivery page.</h5>
    <br>
    <p>Made during a coding bootcamp at Le Wagon, Melbourne (bath#680). <br>
    </p>
    <%= image_tag "mockup-food-delivery.png", class:"img-fluid my-3" %>
    <%= image_tag "portfolio/food-delivery.png", class:"img-fluid my-3" %>
  </div>
</div>
