<div class="container">
  <div class="container-project">
    <h5>Web Designer @ Framework since October 2021 </h5>
    <p>Framework Australia is a company based in Melbourne.</p>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://frameworkaustralia.com/" target="_blank">Visit Website</a>
    </button>
    <br>
    <%= image_tag "portfolio/Framework-home.jpg", class:"img-fluid my-3" %>
    <%= image_tag "portfolio/Framework-aboutus.jpg", class:"img-fluid my-3" %>
    <p>Responsible for designing and building the interface, navigation and aesthetic of the website. <br>
    Creation of renderings for the different products of the company.
    </p>
    <%= image_tag "portfolio/frameworkscreen.png", class:"img-fluid my-3" %>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://frameworkaustralia.com/" target="_blank">Visit Website</a>
    </button>
  </div>
</div>
