<div class="container">
  <div class="container-project">
    <h5>Staying home.</h5>
    <%= image_tag "mockup-home.png", class:"img-fluid my-3" %>
    <%= image_tag "home.png", class:"img-fluid my-3" %>
  </div>
</div>
