<div class="container">
  <div class="container-project">
    <h5>Simple example of landing page.</h5>
    <br>
    <p>Made during a coding bootcamp at Le Wagon, Melbourne (bath#680). <br>
    </p>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://mathildepfr.github.io/landing/" target="_blank">Visit Website</a>
    </button>
    <%= image_tag "mockup-lp.png", class:"img-fluid my-3" %>
    <%= image_tag "portfolio/landing-page.png", class:"img-fluid my-3" %>
  </div>
</div>
