<div class="container">
  <div class="container-project">
    <h5>Simple example of a page with grid and map.</h5>
    <br>
    <p>Made during a coding bootcamp at Le Wagon, Melbourne (bath#680). <br>
    </p>
    <%= image_tag "mockup-wagon.png", class:"img-fluid my-3" %>
    <%= image_tag "portfolio/mp-wagon-com.png", class:"img-fluid my-3" %>
  </div>
</div>
