<div class="container">
  <div class="container-project">
    <h5>Exercice from "React - The Complete Guide (incl Hooks, React Router, Redux)" on Udemy</h5>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://react-list-expenses.herokuapp.com/" target="_blank">Visit Website</a>
    </button>
    <%= image_tag "mockup-react-list.png", class:"img-fluid my-3" %>
    <%= image_tag "react-list2.png", class:"img-fluid my-3" %>
    <%= image_tag "react-list.png", class:"img-fluid my-3" %>
  </div>
</div>
