<div class="container">
  <div class="container-project">
    <h5>React 16+ Le Guide Complet (+Redux, React Router & Firebase)</h5>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://github.com/Mathildepfr/react-login-page" target="_blank">See Code</a>
    </button>
    <%= image_tag "mockup-react-login.png", class:"img-fluid my-3" %>
    <%= image_tag "mockup-react-login2.png", class:"img-fluid my-3" %>
  </div>
</div>
