<div class="container">
  <div class="container-project">
    <h5>Exercices from "React - The Complete Guide (incl Hooks, React Router, Redux)" on Udemy</h5>
    <%= image_tag "mockup-react-food-order.png", class:"img-fluid my-3" %>
    <%= image_tag "react-food-order.png", class:"img-fluid my-3" %>
  </div>
</div>
