<div class="container">
  <div class="container-project">
    <h5>Exercices from "React - The Complete Guide (incl Hooks, React Router, Redux)" on Udemy</h5>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://github.com/Mathildepfr/react-simple-form" target="_blank">See Code</a>
    </button>
    <%= image_tag "mockup-react-goals.png", class:"img-fluid my-3" %>
    <%= image_tag "react-goals.png", class:"img-fluid my-3" %>
  </div>
</div>
