<div class="container">
  <div class="container-project">
    <h5>React Food Deliver</h5>
    <p>Challenge from "React - The Complete Guide (incl Hooks, React Router, Redux)" on Udemy.</p>
    <button class="btn btn-dark mt-3 mb-3">
      <a href="https://github.com/Mathildepfr/react-food-order" target="_blank">See Code</a>
    </button>
    <%= image_tag "mockup-react-food-order.png", class:"img-fluid my-3" %>
    <p>Deliver food, add your menu with cart and all you need for your restaurant page.<p>
    <%= image_tag "react-food-order.png", class:"img-fluid my-3" %>
  </div>
</div>
